.footer__info-navigation-link {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #070716;
  margin-right: 45px;
  transition: opacity .2s linear;
}

.footer__info-navigation-link:last-child {
  margin-right: 0;
}

.footer__info-navigation-link:hover {
  opacity: .7;
}
